/* @theme nano72mkn */
@import 'default';

/* Zen Maru Gothic 700のみ */
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@700&display=swap');

/* M PLUS Rounded 1c 400,700 */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&family=Zen+Maru+Gothic:wght@700&display=swap');

:root{
  /* color */
  --primary: #FF9000;
  --text: #111111;
  --text-white: #FFFFFF;

  /* font */
  --title-font: 'Zen Maru Gothic', sans-serif;
  --body-font: "M PLUS Rounded 1c", sans-serif;

  /* background */
  --title-bg: url("https://github.com/nano72mkn/marp-custom-theme/blob/main/theme/image/title_bg.png?raw=true");
  --subtitle-bg: url("https://github.com/nano72mkn/marp-custom-theme/blob/main/theme/image/subtitle_bg.png?raw=true");
}

section.title{
  padding: 150px;
  background: var(--title-bg);
  background-size: cover;
}

section.title h1{
  font-family: var(--title-font);
  font-weight: 800;
  color: var(--primary);
  font-size: 55px;
  text-align: center;
  word-break: keep-all;
}

section.title p {
  font-family: var(--body-font);
  font-size: 25px;
  color: var(--text);
  text-align: center;
}

section.lead{
  background: var(--subtitle-bg);
  background-size: cover;
}

section.lead:before {
  font-family: var(--body-font);
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -240px);

  font-size: 300px;
  font-weight: bold;
  color: var(--text-white);
  opacity: 0.15;
  white-space: nowrap;
}

section.lead h1{
  font-family: var(--title-font);
  color: var(--text-white);
  font-size: 70px;
  text-align: center;
}

section.lead p {
  color: var(--text-white);
  text-align: center;
}

/* TODO:自動計算したい */
section.lead.no1:before {
  content: "01";
}
section.lead.no2:before {
  content: "02";
}
section.lead.no3:before {
  content: "03";
}
section.lead.no4:before {
  content: "04";
}
section.lead.no5:before {
  content: "05";
}
section.lead.no6:before {
  content: "06";
}
section.lead.no7:before {
  content: "07";
}
